.notifications-container {
  max-width: 320px;
  width: 100%;
  position: fixed;
  max-height: 100vh;
  z-index: 9999;
  pointer-events: none;

  &.notify-is-x-center {
    left: 50%;
    transform: translateX(-50%);
  }
  &.notify-is-y-center {
    top: 50%;
    transform: translateY(-50%);
  }
  &.notify-is-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.notify-is-left {
    left: 0;
  }
  &.notify-is-right {
    right: 0;
  }
  &.notify-is-top {
    top: 0;
  }
  &.notify-is-bottom {
    bottom: 0;
  }

  &.notify-is-x-center.notify-is-top {
    top: var(--distance);
  }
  &.notify-is-x-center.notify-is-bottom {
    bottom: var(--distance);
  }

  & > * {
    pointer-events: auto;
  }
}

.notify {
  --notify-error: #eb5757;
  --notify-success: #6fcf97;
  --notify-warning: #f2c94c;
  --notify-gray: #333333;
  --notify-gray-2: #4d4d4d;
  --notify-gray-3: #828282;
  --notify-white: #fff;
  --notify-white-2: rgba(255, 255, 255, 0.8);
  --notify-padding: 0.75rem;
  --notify-icon-size: 32px;
  --notify-close-icon-size: 16px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: var(--notify-padding);
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  user-select: none;
  position: relative;
  transition-timing-function: ease;
  box-sizing: border-box;

  @at-root .notify-is-left & {
    left: var(--distance);
  }
  @at-root .notify-is-right & {
    right: var(--distance);
  }
  @at-root .notify-is-top &,
    .notify-is-center &,
    .notify-is-y-center &,
    .notify-is-x-center.notify-is-top & {
    margin-top: var(--gap);
  }
  @at-root .notify-is-bottom &,
    .notify-is-x-center:not(.notify-is-top) & {
    margin-bottom: var(--gap);
  }

  $this: &;

  &__icon {
    height: var(--notify-icon-size);
    width: var(--notify-icon-size);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
  }

  &__close {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    height: var(--notify-close-icon-size);
    width: var(--notify-close-icon-size);
    display: flex;
    align-items: center;
    justify-content: center;

    * {
      pointer-events: none;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1rem;
    padding-right: calc(var(--notify-padding) + var(--notify-close-icon-size));
  }

  &__text {
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }

  &--type-1 {
    background-color: #fff;
    border: 1px solid currentColor;

    #{$this}__close {
      color: var(--notify-gray-3);
    }
    #{$this}__title {
      color: var(--notify-gray);
    }
    #{$this}__text {
      color: var(--notify-gray-2);
    }
  }

  &--type-2 {
    color: var(--notify-gray);
  }
  &--type-3 {
    color: var(--notify-white);
    #{$this}__text {
      color: var(--notify-white-2);
    }
  }

  &--error {
    &#{$this}--type-1 {
      box-shadow: 0 2px 26px rgba(#d70000, 0.1);
      color: var(--notify-error);
    }
    &#{$this}--type-2,
    &#{$this}--type-3 {
      background-color: var(--notify-error);
    }
  }
  &--warning {
    &#{$this}--type-1 {
      box-shadow: 0 2px 26px rgba(#f2c94c, 0.1);
      color: var(--notify-warning);
    }
    &#{$this}--type-2,
    &#{$this}--type-3 {
      background-color: var(--notify-warning);
    }
  }
  &--success {
    &#{$this}--type-1 {
      box-shadow: 0 2px 26px rgba(#52d700, 0.1);
      color: var(--notify-success);
    }
    &#{$this}--type-2,
    &#{$this}--type-3 {
      background-color: var(--notify-success);
    }
  }

  // effects
  &--fade {
    will-change: opacity;
    opacity: 0;
  }

  &--fadeIn {
    opacity: 1;
  }

  &--slide {
    will-change: opacity, transform;
    opacity: 0;

    @at-root .notify-is-center &,
      .notify-is-y-center &,
      .notify-is-x-center:not(.notify-is-bottom) & {
      transform: translateY(-20px);
    }
    @at-root .notify-is-x-center.notify-is-bottom & {
      transform: translateY(20px);
    }
    @at-root .notify-is-right & {
      transform: translateX(calc(var(--distance) + 110%));
    }
    @at-root .notify-is-left & {
      transform: translateX(calc((var(--distance) * -1) - 110%));
    }
  }

  &--slideIn {
    @at-root .notify-is-x-center:not(.notify-is-bottom) &,
      .notify-is-center &,
      .notify-is-y-center &,
      .notify-is-x-center.notify-is-bottom & {
      opacity: 1;
      transform: translateY(0);
    }
    @at-root .notify-is-right &,
      .notify-is-left & {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
